numpy
pandas
beautifulsoup4
spacy
requests
lxml
matplotlib
yfinance
seaborn
streamlit
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.0.0/pt_core_news_sm-3.0.0.tar.gz#egg=pt_core_news_sm==3.0.0
